.menu--wrapper {
  position: sticky;
  top: 56px;
  z-index: 1;
}

.menu {
  display: none;
}

@media screen and (max-width: 576px) {
  .menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    color: var(--color);
    overflow-y: scroll;
    height: 100vh;
  }
}