.title--highlight {
  font-size: 72px;
  background: linear-gradient(90deg, #8e42a7 0%, #ff8888 250px);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}