.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 56px;
  background-color: var(--primary);
}

.header__switch {
  display: none;
}

@media screen and (max-width: 576px) {
  .header__switch {
    display: block;
    background-color: var(--primary);
  }
}